<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>update page</h1>
    <form action="/editData/<%= storeData.id %>" method="post">
      <table>
        <tr>
          <td>Name:</td>
          <td>
            <input
              type="text"
              placeholder="enter your name"
              name="userName"
              value="<%= storeData.userName %>"
            />
          </td>
        </tr>
        <tr>
          <td>Password:</td>
          <td>
            <input
              type="text"
              placeholder="enter your password"
              name="password"
              value="<%= storeData.password%>"
            />
          </td>
        </tr>
        <tr>
          <td></td>
          <td><button type="submit">Update Data</button></td>
        </tr>
      </table>
    </form>
  </body>
</html>
